{% extends "base.html" %}
{% block title %}Documentation{% endblock %}
{% block content %}
<!-- Output -->
<section class="docs">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-5 align-self-end">
                <!-- Title Header -->
                <h1 class="text-white font-weight-bold">Documentation</h1>
                <hr class="divider"/>
                    <p class="text-white-75 mb-5">Learn about the processes and design principles that went into the Solar&nbsp;Calculator.</p>
<!--                <h2 class="text-white">Sections</h2><br>-->
                    <h3><a href="/documentation#mission">Mission</a></h3>
                    <h3><a href="/documentation#design-stack">Design & Stack</a></h3>
                    <h3><a href="/documentation#business-logic">Business Logic</a></h3>
                    <h3><a href="/documentation#sources">Sources</a></h3>
            </div>
        </div>
    </div>
</section>
<!--  Mission  -->
<section class="page-section bg-secondary" id="mission">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-4 order-lg-2 align-self-center">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="../static/assets/img/profile.jpeg" alt="..." />
                </div>
            </div>
            <div class="col-lg-8 order-lg-1">
                <h2 class="text-white mt-0">Mission</h2>
                {% include "text/docs-mission.html" %}
            </div>
        </div>
    </div>
</section>
<!--  Design & Stack -->
<section class="page-section bg-primary" id="design-stack">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-end">
            <div class="col-lg-4 align-self-center">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="../static/assets/img/design.webp" alt="Source: https://www.figma.com/templates/tech-stack-diagram/" />
                </div>
            </div>
            <div class="col-lg-8" style="text-align: right">
                <h2 class="text-white mt-0">Design & Stack</h2>
                {% include "text/docs-design_stack.html" %}
            </div>
        </div>
    </div>
</section>
<!--  Business Logic  -->
<section class="page-section bg-secondary" id="business-logic">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-4 order-lg-2 align-self-center">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="../static/assets/img/logic.png" alt="Source: https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.kipi.bi%2Fpost%2Fhosting-python-scripts-on-aws-ec2&psig=AOvVaw3RKRGPWqLDp_0F72bZEtxp&ust=1680979283528000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCMiMt_q1mP4CFQAAAAAdAAAAABAE" />
                </div>
            </div>
            <div class="col-lg-8 order-lg-1">
                <h2 class="text-white mt-0">Business Logic</h2>
                {% include "text/docs-business_logic.html" %}
            </div>
        </div>
    </div>
</section>
<!--  Sources  -->
<section class="page-section bg-primary" id="sources">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-end">
            <div class="col-lg" style="text-align: right">
                <h2 class="text-white mt-0">Sources</h2>
                {% include "text/docs-sources.html" %}
            </div>
        </div>
    </div>
</section>
{% endblock %}