{% extends "base.html" %}
{% block title %}{{ output.get('name') }}'s Results{% endblock %}
{% block content %}
<!-- Output -->
<section class="output">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <!-- Title Header -->
                <h1 class="text-white font-weight-bold">{{ output.get('name') }}'s Results</h1>
                <hr class="divider"/>
                <!-- Graph 1: Actual vs Potential Cost -->
                <img style="width: inherit" src="{{ output.get('url_graph_cost') }}">
                <!-- Graph 2: Actual vs Potential Energy -->
                <img style="width: inherit" src="{{ output.get('url_graph_energy') }}">
                <hr class="divider"/>
                <!-- Table: Results Data -->
                <h2 class="text-white">All Results</h2><br>
                <table style="border: 1px; border-radius: 5px; display: block; max-width: -moz-fit-content; max-width: fit-content; margin: 0 auto; overflow-x: auto;" bgcolor="white">
                        <!-- Header Row -->
                        <tr style="border-bottom:2px solid gray;">
                            <th style="background-color: #f2f2f2;">Month</th>
                            <th>Reported Monthly Energy Consumption</th>
                            <th style="background-color: #f2f2f2;">Reported Monthly Energy Cost</th>
                            <th>Potential Monthly Energy Production</th>
                            <th style="background-color: #f2f2f2;">Potential Monthly Energy Value</th>
                            <th>Potential Monthly Energy Cost</th>
                            <th style="background-color: #f2f2f2;">Monthly Energy Consumption Reduction</th>
                        </tr>
                        <!-- Data Rows -->
                        {% for key in months %}
                        <tr>
                            <td style="background-color: #f2f2f2;"><b>{{ months[key] }}</b></td>
                            <td>{{ output.get('actual_consumption_monthly')[key-1] }}kWh</td>
                            <td style="background-color: #f2f2f2;">${{ output.get('actual_cost_monthly')[key-1] }}</td>
                            <td>{{ output.get('potential_production_monthly')[key-1] }}kWh</td>
                            <td style="background-color: #f2f2f2;">${{ output.get('production_value')[key-1] }}</td>
                            <td>${{ output.get('potential_cost_monthly')[key-1] }}</td>
                            <td style="background-color: #f2f2f2;">{{ output.get('cost_reduction_monthly')[key-1] }}%</td>
                        </tr>
                        {% endfor %}
                </table>
                <br><a href="{{ output.get('url_data_csv') }}">Download Results<i class="fa-solid fa-circle-down"></i></a>
            </div>
        </div>
    </div>
</section>
<!--  How To  -->
<section class="page-section bg-secondary" id="thank-you">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">Thank You!</h2>
                <hr class="divider divider-light" />
                <p class="text-white-75 mb-4">Thanks for taking a little time to check out the Solar Calculator! I built this as a passion project to independently develop and deploy a full-stack web-application from scratch that could also bring some value to those considering installing&nbsp;solar at their residence.</p>
                <p class="text-white-75 mb-4">Check out the <a href="https://github.com/ryzinn18/SolarCalculator" target="_blank">codebase<i class="fa-solid fa-square-up-right"></i></a> for this app and for a more detailed breakdown of that codebase, check out the <a href="/documentation">Documentation</a> page. If you have questions or comments about this project or the codebase please don't hesitate to <a href="/home#contact">Contact</a> me.</p>
                <p class="text-white-75 mb-4">There are plenty of additional features in the works currently, such as more detailed analysis metrics that would help users easily understand the value of their solar potential. You can connect with me on <a href="https://linkedin.com/in/ryzinn18" target="_blank">LinkedIn<i class="fa-solid fa-square-up-right"></i></a> where I will post about major updates I make on this&nbsp;project.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
