{% extends "base.html" %}
{% block title %}{{ output.get('name') }}'s Results{% endblock %}
{% block content %}
<!-- Output -->
<section class="output">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-8 align-self-end">
                <!-- Title Header -->
                <h1 class="text-white font-weight-bold">{{ output.get('name') }}'s Results</h1>
                <hr class="divider"/>
                <!-- Graph 1: Actual vs Potential Cost -->
                <h2 class="text-white">Reported vs Potential Cost</h2>
                <img src="{{ output.get('url_graph_cost') }}">
                <!-- Graph 2: Actual vs Potential Energy -->
                <h2 class="text-white">Reported vs Potential Energy</h2>
                <img src="{{ output.get('url_graph_energy') }}">
                <hr class="divider"/>
                <!-- Table: Results Data -->
                <h2 class="text-white">All Results</h2><br>
                <div class="card card-results bg-light">
                <table>
                    <!-- Header Row -->
                    <tr>
                        <th></th>
                        <th>Reported Monthly Energy Consumption</th>
                        <th>Reported Monthly Energy Cost</th>
                        <th>Potential Monthly Energy Production</th>
                        <th>Potential Monthly Energy Cost</th>
                        <th>Monthly Cost Savings</th>
                        <th>Monthly Energy Consumption Reduction</th>
                    </tr>
                    <!-- Data Rows -->
                    {% for key in months %}
                    <tr>
                        <td><b>{{ months[key] }}</b></td>
                        <td>{{ output.get('actual_consumption_monthly')[key-1] }}kWh</td>
                        <td>${{ output.get('actual_cost_monthly')[key-1] }}</td>
                        <td>{{ output.get('potential_production_monthly')[key-1] }}kWh</td>
                        <td>${{ output.get('potential_cost_monthly')[key-1] }}</td>
                        <td>${{ output.get('savings_monthly')[key-1] }}</td>
                        <td>{{ output.get('cost_reduction_monthly')[key-1] }}%</td>
                    </tr>
                    {% endfor %}
                </table>
                </div>
                <br><a href="{{ output.get('url_data_csv') }}">Download Results Data</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}