<p class="text-white-75 mb-4">
The Solar Calculator was developed by myself, Ryan Zinniger, as both a passion project and means of showcasing and developing full-stack software skills. Renewable energy is an industry and movement I have been passionate about since college and when it came time to develop a portfolio project I knew it had to have a renewable energy theme.
<br><br>
The purpose of this tool is to show users how much energy and money they could save with a solar array installed at their residence. As we see mass adoption of solar and other renewable energy sources, we also see many tools that help encourage that adoption. This is my contribution to that movement.
<br><br>
I acknowledge that there are similar tools that do more than this one, but that was not the point of this tool. The point of this tool was to develop a personal project and give it a theme that I knew would drive me. The drive for this project comes from my love for renewable energy and my desire to contribute to that industry in any way I can.
</p>