<p class="text-white-75 mb-4">
Solar data used during analysis is provided by the National Renewable Energy Laboratory's <a class="link-secondary" href="https://pvwatts.nrel.gov/" target="_blank">PV&nbsp;Watts&nbsp;Calculator</a>.
</p>
<p class="text-white-75 mb-4">
Images used on this website, aside from my profile picture, do not belong to me. They were sourced from the following locations:<br>
    The <a class="link-secondary" href="https://d2r55xnwy6nx47.cloudfront.net/uploads/2018/07/SolarFull_SeanDoran_2880FullwidthLede.jpg" target="_blank">Sun</a> image was found on <a class="link-secondary" href="https://www.quantamagazine.org/" target="_blank">QuantumMagazine.org</a>.<br>
    The <a class="link-secondary" href="https://cdn.sanity.io/images/599r6htc/localized/2d98f37b14bfabde217cd89b38dd0b3481c5ef7f-1108x1108.png?w=514&q=75&fit=max&auto=format" target="_blank">Design & Stack</a> image was found on <a class="link-secondary" href="https://www.figma.com/" target="_blank">Figma.com</a>.<br>
    The <a class="link-secondary" href="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.kipi.bi%2Fpost%2Fhosting-python-scripts-on-aws-ec2&psig=AOvVaw3RKRGPWqLDp_0F72bZEtxp&ust=1680979283528000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCMiMt_q1mP4CFQAAAAAdAAAAABAE" target="_blank">Python & AWS</a> image was found on <a class="link-secondary" href="https://www.kipi.bi/" target="_blank">Kipi.bi</a>.<br>
</p>